# Copy this file to buggyapp-secret.yaml and update the config with appropriate value
apiVersion: v1
kind: Secret
metadata:
  name: ycrash-agent-config
stringData:
  config.yaml: |
    version: "1"
    options:
      k: 
      s: http://yc-web:8080
      port: 8085
      address: 0.0.0.0

