# Copy this file to yc-license-secret.yaml and replace license.lic value with your real license.lic
apiVersion: v1
kind: Secret
metadata:
  name: ycrash-license
stringData:
  license.lic: |
    Licensor=
    Licensee=
    UserNo=
    IP Address=
    Feature_1=
    Feature_2=
    Expiration=

    Signature=

